@charset "UTF-8";
/*
The MIT License (MIT)

Copyright © 2011–2015 thoughtbot, inc.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
documentation files (the “Software”), to deal in the Software without restriction, including without limitation the
rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit
persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial
portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

https://github.com/thoughtbot/bourbon
*/
/**
 * $gray color functions:
 *
 *   color.adjust( $gray, $lightness: 10% )
 *   color.adjust( $gray, $lightness: 20% )
 *   color.adjust( $gray, $lightness: 30% )
 *   color.adjust( $gray, $lightness: -10% )
 *   color.adjust( $gray, $lightness: -20% )
 *   color.adjust( $gray, $lightness: -30% )
 *
 * See wordpress.com/design-handbook/colors/ for more info.
 */
/**
 * $gray color functions:
 *
 *   color.adjust( $gray, $lightness: 10% )
 *   color.adjust( $gray, $lightness: 20% )
 *   color.adjust( $gray, $lightness: 30% )
 *   color.adjust( $gray, $lightness: -10% )
 *   color.adjust( $gray, $lightness: -20% )
 *   color.adjust( $gray, $lightness: -30% )
 *
 * See wordpress.com/design-handbook/colors/ for more info.
 */
#TB_window.jetpack-disconnect-modal {
  max-width: 635px;
  max-height: 600px;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal {
    max-height: 360px;
  }
}
#TB_window.jetpack-disconnect-modal #TB_title {
  font-size: 28px;
  line-height: 24px;
  font-weight: 600;
  height: 24px;
  padding: 24px;
  color: #1d2327;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxWindowTitle {
  padding-right: 0;
  margin-top: -2px;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent {
  width: auto !important;
  padding: 0;
  max-height: 435px;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal #TB_ajaxContent {
    max-height: 203px;
  }
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content {
  padding: 24px;
  padding-bottom: 80px;
  margin-top: 0;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content {
    padding-bottom: 24px;
  }
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content ul {
  font-size: 16px;
  line-height: 24px;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content ul li {
  margin-bottom: 10px;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content ul li span {
  vertical-align: middle;
}
#TB_window.jetpack-disconnect-modal #TB_ajaxContent .jetpack_deactivation_dialog_content ul li span.dashicons {
  color: #eb0001;
}
#TB_window.jetpack-disconnect-modal #TB_closeWindowButton {
  right: auto;
  left: 22px;
  color: #50575e;
  top: 22px;
}
#TB_window.jetpack-disconnect-modal #TB_closeWindowButton::after {
  content: "\f335";
  font: 400 32px/29px dashicons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#TB_window.jetpack-disconnect-modal #TB_closeWindowButton:hover, #TB_window.jetpack-disconnect-modal #TB_closeWindowButton:focus {
  color: rgb(161.5, 161.5, 161.5);
  outline: none;
  box-shadow: none;
}
#TB_window.jetpack-disconnect-modal .tb-close-icon {
  display: none;
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #c3c4c7;
  background-color: rgb(255, 255, 255);
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row {
  position: relative;
  margin: 24px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row {
    flex-direction: row;
  }
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row p {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row p {
    padding-top: 5px;
  }
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row .jetpack_deactivation_dialog_content__buttons button {
  background: #f6f7f7;
  border-color: #2271b1;
  border-style: solid;
  border-width: 1px;
  color: #2271b1;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 13px;
  border-radius: 3px;
  padding: 7px 14px 9px;
  appearance: none;
  width: 100%;
  margin-bottom: 18px;
}
@media screen and (min-width: 661px) {
  #TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row .jetpack_deactivation_dialog_content__buttons button {
    margin-bottom: 0;
    margin-right: 18px;
    width: auto;
  }
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row .jetpack_deactivation_dialog_content__buttons button#jetpack_deactivation_dialog_content__button-deactivate {
  background: #d94f4f;
  border-color: rgb(159.5514018692, 34.4485981308, 34.4485981308);
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
#TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row .jetpack_deactivation_dialog_content__buttons button#jetpack_deactivation_dialog_content__button-deactivate[disabled], #TB_window.jetpack-disconnect-modal .jetpack_deactivation_dialog_content__buttons-row .jetpack_deactivation_dialog_content__buttons button#jetpack_deactivation_dialog_content__button-deactivate:disabled {
  background: rgb(235.1121495327, 162.8878504673, 162.8878504673);
  border-color: rgb(228.4, 131.8, 131.8);
}

#jetpack_deactivation_dialog {
  display: none;
}
