/**
 * The following styles get applied inside the editor only.
 */

@import url(@wordpress/dataviews/build-style/style.css);

.remote-data-blocks-loading-overlay {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.25);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.remote-data-blocks-button-group {
	display: flex;
	gap: 0.75em;
}

.remote-data-blocks-existing-item,
.remote-data-blocks-meta-item,
.remote-data-blocks-new-item {
	margin: 1em 0;
}

h4.remote-data-blocks-new-item-heading {
	margin: 0.5em 0;
}

// Loop template
.remote-data-blocks-loop-template {
	list-style: none;
	padding: 0;
}

// Block previews inside selector modals
.remote-data-blocks-modal {
	// Column gap
	.wp-block-columns {
		gap: 2em;
	}
}

/* Field shortcode */

remote-data-blocks-inline-field {
	background-color: #bfdbfe;
	border-radius: 0.5rem;
	padding: 0.15rem 0.35rem;
}

.rich-text:focus remote-data-blocks-inline-field[data-rich-text-format-boundary] {
	background-color: #bae6fd;
	border-radius: 0.5rem;
}

.remote-data-blocks-inline-field-choice-link {
	color: #00f;
	cursor: pointer;
	text-decoration: underline;
}

.remote-data-blocks-inline-field-selected-icon {
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
	width: 20px;
}

.dataviews-column-primary__media img {
	width: 52px;
	height: 52px;
	object-fit: cover;
	border-radius: 4px;
	background-color: #f0f0f0;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.rdb-editor_dataviews-modal-item-select .dataviews-view-table tbody .dataviews-view-table__cell-content-wrapper:not(.dataviews-column-primary__media) {
	white-space: normal;
	width: 250px;
	max-width: 100%;
	min-width: 150px;
	overflow-wrap: anywhere;
}

.dataviews-view-table__row .dataviews-view-table__actions-column .components-button.is-compact.has-icon:not(.has-text) {
	opacity: 0;
	display: inline-flex;
	align-items: center;
	background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
	color: var(--wp-components-color-accent-inverted, #fff);
	height: 32px;
	padding: 6px 12px;
	border-radius: 2px;
	width: auto;
}

.dataviews-view-table__row:hover .dataviews-view-table__actions-column .components-button.is-compact.has-icon:not(.has-text),
.dataviews-view-table__row:focus-within .dataviews-view-table__actions-column .components-button.is-compact.has-icon:not(.has-text) {
	opacity: 1;

}

.dataviews-view-table tbody td {
	vertical-align: middle;
}

.rdb-editor_data-views-modal .components-modal__content {
	padding: 0;

	> :nth-child(2) {
		height: 100%;
	}

	.dataviews-view-table {
		padding: 4px 32px 32px;
	}
}


.dataviews-view-table tr th.dataviews-view-table__actions-column,
.dataviews-view-table tr td.dataviews-view-table__actions-column {
	position: sticky;
	right: 0;
	background: #fff;
	z-index: 1;
	padding-left: 24px;
	padding-right: 24px;
	text-align: center;
}

td.dataviews-view-table__actions-column::before {
	content: "";
	position: absolute;
	top: 0;
	left: -1px;
	width: 1px;
	height: 100%;
	background-color: #f0f0f0;
	z-index: 2;
}
