<h2>Terms of Submission</h2>

<p>By submitting a video through this platform, you ("Submitter") agree to the following terms and conditions set forth by {{BRAND}} ("Company").</p>

<h3>Grant of Rights</h3>

<p>By submitting your video, you grant {{BRAND}} a perpetual, worldwide, non-exclusive, royalty-free, transferable license to use, reproduce, modify, adapt, publish, distribute, display, and create derivative works from your submission in any media format and through any media channel, whether now known or hereafter developed.</p>

<h3>Representations and Warranties</h3>

<p>You represent and warrant that:</p>

<ul>
<li>You are the sole creator and owner of the submitted video.</li>
<li>You have the full right and authority to grant the rights described herein.</li>
<li>Your submission does not infringe upon the intellectual property rights, privacy rights, or any other rights of any third party.</li>
<li>All persons appearing in the video have consented to being recorded and to the use of the video as described herein.</li>
</ul>

<h3>Release of Liability</h3>

<p>You release {{BRAND}}, its officers, employees, agents, and affiliates from any and all claims, demands, or liabilities arising out of or related to the use of your submission as permitted under these terms.</p>

<h3>No Obligation</h3>

<p>{{BRAND}} is under no obligation to use your submission. Submission does not guarantee publication, broadcast, or any other form of distribution.</p>

<h3>No Compensation</h3>

<p>You acknowledge that no compensation, credit, or other consideration will be provided for your submission or the rights granted herein, unless separately agreed upon in writing by {{BRAND}}.</p>
