parameters:
  level: 9
  paths:
    - src/
    - views/
    - tests/
    - wp-parsely.php
    - uninstall.php
  scanFiles:
    - vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
