@import "../../../common/css/functions";
@import "../../../common/css/variables";

.parsely-menu-page-traffic-boost {
	.parsely-dashboard-page-header {
		padding: var(--grid-unit-30);
	}

	.traffic-boost-search-container {
		margin-bottom: 0;
		border-radius: 2px;
		padding: var(--grid-unit-15) 0;
	}
}

.parsely-menu-page-traffic-boost-single-post {
	display: flex;
	padding: var(--grid-unit-20) var(--grid-unit-20) var(--grid-unit-20) 0;
	align-items: flex-start;
	gap: var(--grid-unit-20);
	flex: 1 0 0;
	align-self: stretch;
	position: relative;
}

.wp-parsely-snackbar-notices.traffic-boost-snackbar-notices {
	padding-left: to_rem(480px);
}
