
.remote-data-blocks-edit__input-popover-form {
	max-width: 350px;
	margin: 16px;

	.remote-data-blocks-edit__input {
		min-width: 300px;

		.components-text-control__input {
			border: none;
		}
	}

	.components-external-link__contents {
		text-decoration: none;
	}
}
