{
	"extends": [
		"@wordpress/stylelint-config/scss"
	],
	"reportInvalidScopeDisables": true,
	"reportNeedlessDisables": true,
	"rules": {
		"media-feature-parentheses-space-inside": "never",
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"except": [
					"first-nested"
				],
				"ignore": [
					"after-comment"
				]
			}
		],
		"selector-class-pattern": null
	}
}
