@import "../../css/functions";
@import "../../css/variables";

.parsely-persona-selector-dropdown {
	width: 100%;
	margin-bottom: to_rem(10px);

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.components-dropdown-menu__toggle {
		display: flex;
		gap: to_rem(10px);
		width: 100%;
	}

	.parsely-persona-selector-label {
		flex-grow: 2;
		text-align: left;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.wp-parsely-popover {

	button.components-button.components-menu-item__button.is-selected {
		outline: 3px solid transparent;
		box-shadow: 0 0 0 2px var(--parsely-green);

		&:focus {
			outline: 3px solid transparent;
			box-shadow: 0 0 0 2px var(--parsely-green);
		}
	}
}

