.wp-parsely-snackbar-notices {
	position: fixed;
	width: 100%;
	bottom: to_rem(64px);
	padding: to_rem(16px);
	z-index: 999999;
	display: flex;
	flex-direction: column-reverse;
	gap: to_rem(6px);

	svg {
		fill: currentcolor;
	}
}
