@import "../common/css/variables";
@import "../common/css/functions";

.editor-post-excerpt__loading_animation {
	position: absolute;
	top: to_rem(29px);
	left: to_rem(9px);
}

.editor-post-excerpt__textarea {
	margin-bottom: var(--grid-unit-10, to_rem(8px));

	textarea:read-only {
		background-color: var(--Gutenberg-White, #fff);
	}
}

.wp-parsely-excerpt-generator {
	margin-top: to_rem(20px);

	.wp-parsely-excerpt-generator-header {
		align-items: center;
		display: flex;
		justify-content: flex-start;

		.wp-parsely-excerpt-generator-header-label {
			font-size: to_rem(11px);
			font-weight: 600;
			line-height: 1.4;
			text-transform: uppercase;
			display: inline-block;
			padding: 0;
			margin-left: to_rem(5px);

			span.beta-label {
				padding-left: to_rem(6px);
				color: var(--Gutenberg-Gray-700, #757575);
			}
		}
	}

	.wp-parsely-excerpt-generator-controls {
		display: flex;
		gap: var(--grid-unit-10, to_rem(8px));

		button {
			flex-grow: 1;
			height: to_rem(40px);
			justify-content: center;
			margin-bottom: var(--grid-unit-10, to_rem(8px));
			margin-top: var(--grid-unit-10, to_rem(8px));
			padding: var(--grid-unit-10, to_rem(8px)) var(--grid-unit-15, to_rem(12px));
		}
	}

	.components-notice {
		margin: var(--grid-unit-20, to_rem(16px)) 0 var(--grid-unit-15, to_rem(12px)) 0;

		.components-notice__content {
			margin: 0;

			.content-helper-error-message {
				margin-top: 0 !important;

				p:last-child {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}
