parameters:
  ignoreErrors:
    - identifier: missingType.generics
  level: 9
  paths:
    - bin/
    - src/
    - views/
    - tests/
    - wp-parsely.php
    - uninstall.php
  scanFiles:
    - vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
  type_coverage:
      return_type: 91
      param_type: 79.2
      property_type: 0 # We can't use property types until PHP 7.4 becomes the plugin's minimum version.
      print_suggestions: false
  typeAliases:
    Asset_Info: 'array{ dependencies: array<string>, version: string }'
